@model List<Frontend.Models.SoruModel> 
@{
    ViewData["Title"] = "YeniTest";
    Layout = "_AnasayfaLayout";
}

<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <h1>YeniTest</h1>

</head>
<body>


    <form class="form-group" method="post">
        <div class="ust" id="header1">
            <div class="row container testolusturDiv">
                <div class="marjin">
                    <div class="col-lg-4 marjin">
                         <input type="submit" value="Test Oluştur" class="testolusturbtn" />
                    </div>
                </div>
            </div>
        </div>
        <div id="app" class="ortaAlan"> 
            @{
             List<SoruModel> userModels = new List<SoruModel>();
         }
            @for (var a = 0; a < 3; a++)
            {
                    <div id="tamSoru" class="tamsoru cardboyut cardarasibosluk">
                        <div class="cardSoruDiv">
                            @Html.LabelFor(x =>x[a].soru, new { htmlAttributes = new { @class = "", id = "Soru" + a + "-1" } })
                            @Html.TextBoxFor(x => x[a].soru, new { htmlAttributes = new { @class = "", id = "soru" + a + "-1" } })
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.RadioButtonFor(x=> x[a].dogruCevap, 1, new { htmlAttributes = new { GroupName = "radio" + a, @class = "form-control", id = "radiobuton" + a + "-1" } })
                                @Html.LabelFor(x => x[a].cevap1, new { htmlAttributes = new { @class = "form-control", id = "cevaptext" + a + "-1" } })
                                @Html.TextBoxFor(x => x[a].cevap1, new { htmlAttributes = new { @class = "form-control", id = "cevap" + a + "-1" } })
                            </div>
                            <div class="col-sm-6">
                                @Html.RadioButtonFor(x => x[a].dogruCevap, 2, new { htmlAttributes = new { GroupName = "radio" + a, @class = "form-control", id = "radiobuton" + a + "-2" } })
                                @Html.LabelFor(x => x[a].cevap2, new { htmlAttributes = new { @class = "form-control", id = "cevaptext" + a + "-2" } })
                                @Html.TextBoxFor(x => x[a].cevap2, new { htmlAttributes = new { @class = "form-control", id = "cevap" + a + "-2" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.RadioButtonFor(x => x[a].dogruCevap, 3, new { htmlAttributes = new { GroupName = "radio" + a, @class = "form-control", id = "radiobuton" + a + "-3" } })
                                @Html.LabelFor(x => x[a].cevap3, new { htmlAttributes = new { @class = "form-control", id = "cevaptext" + a + "-3" } })
                                @Html.TextBoxFor(x => x[a].cevap3, new { htmlAttributes = new { @class = "form-control", id = "cevap" + a + "-3" } })
                            </div>
                            <div class="col-sm-6">
                                @Html.RadioButtonFor(x => x[a].dogruCevap, $"#cevap1-4", new { htmlAttributes = new { GroupName = "radio" + a, @class = "form-control", id = "radiobuton" + a + "-4" } })
                                @Html.LabelFor(x => x[a].cevap4, new { htmlAttributes = new { @class = "form-control", id = "cevaptext" + a + "-4" } })
                                @Html.TextBoxFor(x => x[a].cevap4, new { htmlAttributes = new { @class = "form-control", id = "cevap" + a + "-4" } })
                            </div>
                        </div>
                    </div>
            }
        </div>
    </form>
</body>
