@model List<Frontend.Models.SoruModel>

@{
    ViewData["Title"] = "ATestGor";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cozulmusTest.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>
<body>
    @{
        int a = 0;
    }
    @using (Html.BeginForm(FormMethod.Get))
    {
        @foreach (var item in Model)
        {
            <div id="tamSoru" class="cardboyut cardarasibosluk ">
                <div class="cardSoruDiv soru">
                    @Html.DisplayFor(x => item.soru, new { htmlAttributes = new { @class = "soru", id = "soru" + a + "-1" } })
                </div>
                <div class="row center">
                    <div id="@("secenekDiv1" + a)" onClick="reply_click(this.id)" class="secenek cardsecenek1 cevap">
                        @Html.RadioButtonFor(x=>x[a].dogruCevap, 1, new { disabled = "disabled", htmlAttributes = new { GroupName = "radio" + a, @class = "form-control", id = "radiobuton" + (a + 1) + "-1" } })
                        @Html.DisplayFor(x => item.cevap1, new { htmlAttributes = new { @class = "form-control", id = "cevap" + a + "-1" } })
                    </div>
                    <div id="@("secenekDiv2" + a)" onClick="reply_click(this.id)" class="secenek cardsecenek2 cevap">
                        @Html.RadioButtonFor(x => x[a].dogruCevap, 2, new { disabled = "disabled", htmlAttributes = new { GroupName = "radio" + a, @class = "form-control", id = "radiobuton" + (a + 1) + "-2" } })
                        @Html.DisplayFor(x => item.cevap2, new { htmlAttributes = new { @class = "form-control", id = "cevap" + a + "-2" } })
                    </div>
                </div>
                <div class="row center">
                    <div id="@("secenekDiv3" + a)" onClick="reply_click(this.id)" class=" secenek cardsecenek3 cevap">
                        @Html.RadioButtonFor(x => x[a].dogruCevap, 3, new { disabled = "disabled", htmlAttributes = new { GroupName = "radio" + a, @class = "form-control", id = "radiobuton" + (a + 1) + "-3" } })
                        @Html.DisplayFor(x => item.cevap3, new { htmlAttributes = new { @class = "form-control", id = "cevap" + a + "-3" } })
                    </div>
                    <div id="@("secenekDiv4" + a)" onClick="reply_click(this.id)" class="secenek cardsecenek4 cevap">
                        @Html.RadioButtonFor(x => x[a].dogruCevap, 4, new { disabled = "disabled", htmlAttributes = new { GroupName = "radio" + a, @class = "form-control", id = "radiobuton" + (a + 1) + "-4" } })
                        @Html.DisplayFor(x => item.cevap4, new { htmlAttributes = new { @class = "form-control", id = "cevap" + a + "-4" } })
                    </div>
                </div>
            </div>
            a++;
        }
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/cozulentest.js" asp-append-version="true"></script>
</body>

